#header {
    font-size: larger;
    background-color: burlywood;
}

#sidebar {
    background-color: blanchedalmond;
}

.selected {
    background-color: grey;
}

#content {
    background-color: cadetblue;
}