#header {
    font-size: larger;
    background-color: burlywood;
}

#sidebar {
    background-color: blanchedalmond;
}

.selected {
    background-color: grey;
}

.exercise-info-box {
    background-color: grey;
}

.positive-likes {
    color: green;
}

.negative-likes {
    color: red;
}

#content {
    background-color: cadetblue;
}