/* Define Variables */
:root {
    --header-height: 75px;
    --sidebar-width: 250px;

    --gray6: #F2F2F2;
    --gray5: #E0E0E0;
    --gray4: #BDBDBD;
    --blue1: #2F80ED;
    --green2: #27AE60;
    --red1: #EB5757; 
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--blue1);
    text-decoration: none;
}

#header {
    z-index: 3;
    background-color: var(--gray6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
}

#header * {
    margin: 5px;
}

#logo {
    width: var(--sidebar-width);
    margin: auto;
}

#search-form {
    flex:1;
    display: flex;
}

#search-button {
    margin-left: 0;
}

#search-bar {
    flex: 1;
    margin-right: 0;
}

#profile-pic {
    height: 100%;
}

#sidebar {
    z-index: 1;
    background-color: var(--gray6);
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    top: var(--header-height);
    width: var(--sidebar-width);
    height: calc(100% - var(--header-height));
}

#content {
    z-index: 2;
    background-color: white;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    top: var(--header-height);
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - var(--header-height));
    overflow-y: scroll;
}

.selected {
    background-color: var(--gray4);
}

.result-info-box {
    background-color: var(--gray6);
    margin: 5px;
}

.positive-likes {
    color: var(--green2);
}

.negative-likes {
    color: var(--red1);
}
