<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'wrkout/style.css' %}" />
        <title>
            Wrkout - 
            {% block title_block %}
                Home
            {% endblock %}
        </title>
    </head>

    <body>
        <div id="header">
            {% block header_block %}

                <a href="{% url 'wrkout:home' %}">
                    <img id="logo" src="{% static 'wrkout/images/logo.png' %}">
                </a>
                
                <form id="search-form" method="get" onsubmit="alert('Not implemented yet!');">
                    <input id="search-bar" type="text" name="search-key" placeholder="Search for exercises or workouts" />
                    <!-- <button id="search-button" type="submit">
                        <img src="{% static 'wrkout/images/search_icon.png' %}" />
                    </button> -->
                    <input id="search-button" type="image" src="{% static 'wrkout/images/search_icon.png' %}" alt="Submit" />
                </form>


                {% if user.is_authenticated %}
                    <button onclick="alert('not yet implemented!');">Log Out</button>
                    <!--- Get UserProfile associated with current User, and display their profile picture -->
                    <a id="profile-pic" href="/to/do">
                        <img src="{% static 'wrkout/images/default_pfp.png' %}" />
                    </a>
                {% else %}
                    <button onclick="alert('not yet implemented!');">Log In</button>
                    <button onclick="alert('not yet implemented!');">Register</button>
                {% endif %}
            {% endblock %}
        </div>

        <div id="sidebar">
            {% url 'wrkout:workouts_popular' as workouts_popular %}
            {% url 'wrkout:workouts_new' as workouts_new %}
            {% url 'wrkout:exercises_popular' as exercises_popular %}
            {% url 'wrkout:exercises_new' as exercises_new %}
            <h2>Browse By:</h2>
            <a  {% if request.path == workouts_popular %} class="selected" {% else %} class="unselected" {% endif %} 
                href="{{ workouts_popular }}">Popular Workouts</a> 
            <a  {% if request.path == workouts_new %} class="selected" {% else %} class="unselected" {% endif %} 
                href="{{ workouts_new }}">New Workouts</a> 
            <a  {% if request.path == exercises_popular %} class="selected" {% else %} class="unselected" {% endif %} 
                href="{{ exercises_popular }}">Popular Exercises</a> 
            <a  {% if request.path == exercises_new %} class="selected" {% else %} class="unselected" {% endif %} 
                href="{{ exercises_new }}">New Exercises</a>
            
            {% url 'wrkout:create_workout' as create_workout %}
            {% url 'wrkout:create_exercise' as create_exercise %}
            <h2>Create New:</h2>
            <a  {% if request.path == create_workout %} class="selected" {% else %} class="unselected" {% endif %} 
                href="{{ create_workout }}">Workout</a>
            <a  {% if request.path == create_exercise %} class="selected" {% else %} class="unselected" {% endif %} 
                href="{{ create_exercise }}">Exercise</a>
        </div>

        <div id="content">
            {% block content_block %}
                Content!
            {% endblock %}
        </div>
    </body>
</html>