<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'wrkout/style.css' %}" />
        <title>
            Wrkout - 
            {% block title_block %}
                Home
            {% endblock %}
        </title>
    </head>

    <body>
        <div id="header">
            {% block header_block %}

                <a href="/to/do/later">
                    <img id="logo" src="{% static 'wrkout/images/logo.png' %}">
                </a>
                
                <form id="search-form" method="get" onsubmit="alert('Not implemented yet!');">
                    <input id="search-bar" type="text" name="search-key" placeholder="Search for exercises or workouts" />
                    <!-- <button id="search-button" type="submit">
                        <img src="{% static 'wrkout/images/search_icon.png' %}" />
                    </button> -->
                    <input id="search-button" type="image" src="{% static 'wrkout/images/search_icon.png' %}" alt="Submit" />
                </form>


                {% if user.is_authenticated %}
                    <button onclick="alert('not yet implemented!');">Log Out</button>
                    <!--- Get UserProfile associated with current User, and display their profile picture -->
                    <a id="profile-pic" href="/to/do">
                        <img src="{% static 'wrkout/images/default_pfp.png' %}" />
                    </a>
                {% else %}
                    <button onclick="alert('not yet implemented!');">Log In</button>
                    <button onclick="alert('not yet implemented!');">Register</button>
                {% endif %}
            {% endblock %}
        </div>

        <div id="sidebar">
            {% url 'wrkout:test' as test %}
            {% url 'wrkout:test2' as test2 %}
            <h2>Browse By:</h2>
            <a {% if request.path == test2 %} class="selected" {% else %} class="unselected" {% endif %} href="/test/">Popular Workouts</a> 
            <a {% if request.path == test2 %} class="selected" {% else %} class="unselected" {% endif %}>New Workouts</a>
            <a {% if request.path == test %} class="selected" {% else %} class="unselected" {% endif %}>Popular Exercises</a>
            <a {% if request.path == test2 %} class="selected" {% else %} class="unselected" {% endif %}>New Exercises</a>
            
            <h2>Create New:</h2>
            <a {% if request.path == test2 %} class="selected" {% else %} class="unselected" {% endif %}>Workout</a> 
            <a {% if request.path == test2 %} class="selected" {% else %} class="unselected" {% endif %}>Exercise</a>
        </div>

        <div id="content">
            {% block content_block %}
                Content!
            {% endblock %}
        </div>
    </body>
</html>