<!--
    Expects to recieve as context:
     - results - an ordered list of either Exercises or Workouts, either in new-ness or popularity order
-->

{% extends 'wrkout/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Browse
{% endblock %}

{% block content_block %}
    {% for result in results %}
        <div class="result-info-box">
            <h3><a href="/fill this in later">{{ result.Name }}</a></h3>
        
            Difficulty:
            {% for i in '12345'|make_list %}
                {% if forloop.counter <= result.Difficulty %}
                    <img src="{% static 'wrkout/images/star_filled.png' %}"/>
                {% else %}
                    <img src="{% static 'wrkout/images/star_unfilled.png' %}"/>
                {% endif %}
            {% endfor %}

            Net likes:
            {% if result.Likes >= 0 %}
                <b class="positive-likes">{{result.Likes}}</b>
            {% else %}
                <b class="negative-likes">{{result.Likes}}</b>
            {% endif %}

            Created By:
            <a href="/fill in later">{{ result.CreatorID.UserAccount.username }}</a>

            Created On: {{ result.Date }}

        </div>
    {% endfor %}
{% endblock %}