<!--
    Expects as context:
    result - the exercise being viewed
    is_owner - whether or not the logged in user is the creator of the exercise
-->

{% extends 'wrkout/view_exercise_or_workout_base.html' %}
{% load staticfiles %}

{% block specifics_block %}
    {% if is_owner %}
        <button class="indented important">Delete Exercise</button>
    {% endif %}

    <hr>
    <div class="indented">
        {{ result.Description }}
    </div>
    
    {% if result.DemoImage %}
        <hr>
        <div id="demo-image-block" class="indented">
            <img src="{{ result.DemoImage.url }}"/>
        </div>
    {% endif %}

    {% if result.DemoVideo %}
        <hr>
        <div id="demo-video-block" class="indented">
            <iframe width="800px" height="450" id="demo-video" src="{{ result.DemoVideo }}"></iframe>
        </div>
    {% endif %}

{% endblock %}