<!--
    Expects as context:
    result - the workout being viewed
    is_owner - whether or not the current user created the workout being viewed
    is_saved - whether or not the current user has this workout in their collection of saved workouts
-->

{% extends 'wrkout/view_exercise_or_workout_base.html' %}
{% load staticfiles %}

{% block specifics_block %}
    {% if not is_owner %}
        {% if not is_saved %}
            <button class="indented">Save to collection</button>
        {% else %}
            <button class="indented">Remove from collection</button>
        {% endif %}
    {% else %}
        <button class="indented important">Delete Workout</button>
    {% endif %}
    <hr>
    <div class="indented">
        {{ result.Description }}
    </div>
    <hr>
    <div id="specifics-exercise-list"  class="indented">
        <ul>
            {% for set in result.Sets.all %}
                <li>
                    <a href="{% url 'wrkout:show_exercise' set.ExerciseID.Slug %}">{{ set.ExerciseID.Name }}</a> x{{set.NoOfReps}}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



